<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/styles/index.css">
	<title>Registro de Usuario</title>
</head>

<body>

	<header>
		<div class="title">
			<h1>Vecinal "La República"</h1>
		</div>
	</header>

	<nav>

		<a href="" class="link" text-decoration: none>Inicio</a>
		<a href="" class="link">Instituciones</a>
		<a href="" class="link">Comercios</a>
		<a href="" class="link">Actividades</a>
		<span class="right">
			<a href="">Registrarse</a>
			<a href="">Ingresar</a>
		</span>
	</nav>
	<p style="color: red" th:if="${errorLista != null}" th:text="${errorLista}"></p><br>
	<table class="table table-striped table-dark">
		<thead>
			<tr>
				<th>Título</th>
				<th>Descripción</th>
				<th>Destacado</th>
				<th>Fecha</th>
			</tr>
			</tr>
		</thead>
		<tbody>
			<tr th:each="novedad:${novedades}">
				<td th:text="${novedad.titulo}"></td>
				<td th:text="${novedad.descripcion}"></td>
				<td th:text="${novedad.destacado}"></td>
				<td
					th:text="${novedad.fecha.getDayOfMonth()} + '/' + ${novedad.fecha.getMonthValue()} + '/' + ${novedad.fecha.getYear()}">
				</td>
			</tr>
		</tbody>
	</table>
	<div class="main">
		<div class="left-r">
			<form th:action="@{/admin/crear}" method="POST">

				<p style="color: red" th:if="${error != null}" th:text="${error}"></p><br>
				<div class="mb-3">
					<label for="exampleInputEmail1" class="form-label">Título Noticia</label>
					<input th:type="text" name="titulo" class="form-control" required>
				</div>

				<div class="mb-3">
					<label for="exampleInputPassword1" class="form-label">Email</label>
					<input th:type="text" name="descripcion" class="form-control" required>
				</div>
				<div class="mb-3">
					<label for="exampleInputPassword1" class="form-label">Email</label>
					<input th:type="text" name="destacado" class="form-control" required>
				</div>

				<button th:type="submit" class="btn btn-primary">Agregar</button>
			</form>
		</div>

		<div class="right-r">

		</div>

	</div>
</body>

</html>