<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>La Republica</title>
	<link rel="stylesheet" type="text/css" href="styles/index.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<div class="main">
			<div class="title">Vecinal "La República"</div>
	</div>
	</header>

	<nav>
		<div class="main">
			<div class="left">
			<li><a href="">Inicio</a></li>
			<li><a href="">Instituciones</a></li>
			<li><a href="">Comercios</a></li>
			<li><a href="">Actividades</a></li>
</div>
			<div class="right">
			<li><a href="">Registro</a></li>
			<li><a href="">Login</a></li>
		</div>
		</div>
	</nav>

	<div class="title">Vecinal, La República</div>
</body>
</html>