<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles/instituciones.css">

    <title>Vecinal "La Republica"</title>
</head>

<body>
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Nuestras Instituciones</h2>
                <p>Sin todos estos lugares, nuestra vecinal "La Republica" no seria lo mismo.</p>
            </div>
            <!--FINALIZA SERVICEs-->
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <div class="box">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                            <div class="box-part text-center">

                                <i class="fa fa-futbol-o fa-3x" aria-hidden="true"></i>


                                <div class="title">
                                    <h4>Club Social y Deportivo "Adelmar Galetto"</h4>
                                </div>

                                <div class="text">
                                    <span>Avenida JuanCarlos 2547<br> +54 341 7854157</span>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                            <div class="box-part text-center">

                                <i class="fa fa-user-o fa-3x" aria-hidden="true"></i>

                                <div class="title">
                                    <h4>Escuela de Educacion Tecnica "Freddie"</h4>
                                </div>

                                <div class="text">
                                    <span>Cortada Saca la mano de ahi 4784 <br> +54 8774652</span>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                            <div class="box-part text-center">

                                <i class="fa fa-paperclip fa-3x" aria-hidden="true"></i>

                                <div class="title">
                                    <h4>Club Deportivo Barrial "Esteban Pisani"</h4>
                                </div>

                                <div class="text">
                                    <span>Cortada Saca la mano de ahi 4784 <br> +54 8774652.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                            <div class="box-part text-center">

                                <i class="fa fa-folder-o fa-3x" aria-hidden="true"></i>

                                <div class="title">
                                    <h4>Escuela Primaria N°17 "Martin Orona"</h4>
                                </div>

                                <div class="text">
                                    <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed.
                                        Elitr scripta ocurreret qui ad.</span>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                            <div class="box-part text-center">

                                <i class="fa fa-handshake-o fa-3x" aria-hidden="true"></i>

                                <div class="title">
                                    <h4>Iglesia "Nuestro Sagrado Corazon Lategano"</h4>
                                </div>

                                <div class="text">
                                    <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed.
                                        Elitr scripta ocurreret qui ad.</span>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                            <div class="box-part text-center">

                                <i class="fa fa-folder-o fa-3x" aria-hidden="true"></i>

                                <div class="title">
                                    <h4>Ferreteria "El coso del cosito"</h4>
                                </div>

                                <div class="text">
                                    <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed.
                                        Elitr scripta ocurreret qui ad.</span>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
</body>