<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Vecinal "La República" - Panel</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/styles/login.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
	</script>
</head>

<body>
	<div class="main-panel">
		<div class="title">
			<ion-icon name="person-circle-outline"></ion-icon> Hola, <b
				th:text="${session.usuariologueado.nombre} + ' ' + ${session.usuariologueado.apellido}"></b> :)

			<form th:action="@{/logout}" method="POST" style="padding: 0;float: right;">
				<a class="btn btn-outline-dark" href="/">
					<ion-icon name="home"></ion-icon> Inicio
				</a>
				<button type="submit" class="btn btn-outline-danger">Cerrar Sesión</button></a>
			</form>
		</div>
		<div class="card text">
			<div class="card-header">
				<ul class="nav nav-tabs card-header-tabs">
					<li class="nav-item">
						<a class="nav-link" href="/admin/panel">Perfil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/panel-usuarios">Usuarios</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="/admin/panel-novedades">Novedades</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/panel-actividades">Actividades</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/panel-comercios">Comercios</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/panel-instituciones">Instituciones</a>
					</li>
				</ul>
			</div>
			<div class="card-body">


				<!--CREAR-->
				<div class="alert alert-danger" role="alert" th:if="${error != null}">
					<div th:text="${error}"></div>
				</div>

				<form th:if="${novedad == null}" th:action="@{/admin/crear-novedades}" method="POST"
					style="float: left;width: 42%;">

					<div class="alert alert-danger" role="alert" th:if="${error != null}">
						<div th:text="${error}"></div>
					</div>

					<div class="badge bg-primary text-wrap title z" style="margin-top: -100%;">Crear Novedad</div>

					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Titulo de Novedad</label>
						<input th:type="text" th:value="${tituloNovedad}" name="tituloNovedad" class="form-control"
							placeholder="Escriba el titulo de la novedad." required>
					</div>

					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Descripción de Novedad</label>
						<textarea th:type="text" th:value="${descripcion}" name="descripcion" class="form-control"
							placeholder="Describa la novedad." required></textarea>
					</div>

					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Foto</label>
						<input th:type="file" name="foto" class="form-control">
					</div>
					<div class="mb-3">
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
								name="destacado">
							<label class="form-check-label" for="flexSwitchCheckDefault">Destacar Novedad</label>
						</div>
					</div>
					<button th:type="submit" class="btn btn-primary btn-color">Cargar nueva Novedad</button>
				</form>


				<!--MODIFICAR-->
				<form th:if="${novedad!=null}" th:action="@{/admin/modificar-novedades}" method="POST"
					th:each="act : ${novedad}" style="float: left;width: 42%;">
					<div class="alert alert-danger" role="alert" th:if="${error != null}">
						<div th:text="${error}"></div>
					</div>
					<div class="badge bg-primary text-wrap title z" style="margin-top: -100%;">Modificar Novedad</div>
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Titulo de Novedad</label>
						<input th:type="text" th:value="${novedad.titulo}" name="titulo" class="form-control"
							placeholder="Escriba el titulo de la novedad." required>
						<input th:type="hidden" th:value="${novedad.novedadId}" name="id" class="form-control" required>
					</div>
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Descripción de Novedad</label>
						<textarea th:type="text" th:text="${novedad.descripcion}" name="descripcion"
							class="form-control" required></textarea>
					</div>

					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Foto</label>
						<input th:type="file" name="foto" class="form-control">
					</div>
					<div class="mb-3">
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="destacado">
							<label class="form-check-label" for="flexSwitchCheckDefault">Destacar Novedad</label>
						</div>
					</div>
					<button th:type="submit" class="btn btn-primary btn-color">Editar novedad</button>
				</form>
				<!--Lista-->

				<div style="float: right;width: 55%;">
					<div class="badge bg-primary text-wrap title z">Lista de Novedades</div>
					<table class="table" th:if="${novedades!=null}">
						<table class="table table-striped table-hover" th:if="${novedades!=null}">
							<thead>
								<tr>
									<th scope="col">Titulo</th>
									<th scope="col">Descripción</th>
									<th scope="col">Editar</th>
									<th scope="col">Dar Baja</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="novedad : ${novedades}">
									<td th:text="${novedad.titulo}"></td>
									<td th:text="${novedad.descripcion}"></td>
									<td><button type="button" class="btn btn-success"> <a
												th:href="@{'/admin/modificar-novedad/'}+${novedad.novedadId}"> Editar
											</a> </button></td>
									<td><button type="button" class="btn btn-danger"> <a
												th:href="@{'/admin/baja-novedad/'}+${novedad.novedadId}"> Eliminar
											</a></button></td>
								</tr>
							</tbody>
						</table>
				</div>
			</div>
		</div>
		<footer>Todos los derechos reservados a la familia <b>Lategano</b></footer>
	</div>
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>