/*
Removes white gap between slides - change to base color of slide images
*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
:root {
	--turquesa: #b4f0cd;
    --grisOscuro: #262626;
    --rosa: #f2d5f8;
    --lavanda: #e4d9ff;
}

* {
	margin: 0;
	box-sizing: border-box;
    padding: 0;
}

body {
	font-family: 'Ubuntu',sans-serif;
    background-color: #F8F9FA;
}

/* Header */
header {
    background: linear-gradient(90deg, rgba(180,240,205,1) 0%, rgba(180,240,205,1) 24%, rgba(175,232,198,1) 49%, rgba(162,212,182,1) 79%, rgba(162,203,178,1) 100%);
    height: 80px;
    width: 100%;
}

header > .title {
    padding-left: 80px;
    line-height: 80px;
}

header > .title > h1 {
	font-size: 35px;
	font-weight: 300;
    letter-spacing: 5px;
    line-height: 80px;
}

nav {
    display:inline-block;
	background:var(--grisOscuro);
	height: 50px;
    width: 100%;
    padding-left: 30px;
}

nav > a { 
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    line-height: 50px;
    margin-left: 50px;
    padding: 5px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .8s;
}


nav > a:focus, a:hover {
    color: #fff;
    text-decoration: none;
    background-size: 100% 1px;
} 

.right {
      float: right;
      padding-right: 100px;
}

.right > a {
    color: #fff;
    font-weight: 300;
    font-size: 19px;
    text-decoration: none;
    line-height: 50px;
    margin-left: 40px;
    padding: 15px;
}

.right > a:hover {
    background-color: #ccc;
    color: #000;
    transition: .8s;
}



body{ 
    margin-top: 20px;
    background-color: #eee;
}

a:hover{
 text-decoration:none;    
}

.container.bootstrap.snippets.bootdey {
    display: flex;
margin-left: 50px;

}

 /* instituciones */

 .carousel {
    background:#007aeb;
  }
  
  /*
  Forces image to be 100% width and not max width of 100%
  */
  .carousel-item .img-fluid {
    width:100%;
  }
  
  /* 
  anchors are inline so you need ot make them block to go full width
  */
  .carousel-item a {
    display: block;
    width:100%;
  }
  